*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.container{
    width: 30%;
  min-width: auto;
  
  display: flex;
  flex-direction: column;
  margin:  1rem auto;
  text-align: center;
  box-shadow:  4px 4px 4px 4px  rgb(44, 30, 30);

 
  
}
p{
    padding: 20px;
}
input{
    outline: none;
    border: none;
    font-size: 15px;
    padding: 15px;
    /* width: 70%; */
    margin-bottom: 2rem;
    border-radius: 8px;
    /* position: relative; */

       background-color: rgb(41, 36, 36); 
}

button{
    background-color:rgb(75, 38, 75);
    padding: 15px;
    border: none;
    border-radius: 5px;
    /* width: 10%; */
    /* position: absolute; */
    cursor: pointer;
    
}

.wrapper{
    background-color: rgb(157, 155, 155);
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    box-shadow:  2px 2px 4px rgb(22, 21, 21);
    
    
} 
.wrapper h1  {
    font-weight: bold;
    padding: 10px;
    /* margin: 10px auto; */
    /* text-align: center; */

}
h2{
    margin-top: 0px auto;
    font-weight: bold;

    /* color: yellow; */
    
}
.page-content{
    padding: 20px;

}

ul li{
    display: flex;
    justify-content: space-between;
    padding: 0.rem;
    font-size: 18px;
    text-transform: capitalize;
    margin: 1.5rem 0.9rem;
    border-left: 2px solid salmon; 
    box-shadow:  2px 2px 4ox saddlebrown 
    
}
ul li:hover{
   
    border-left: 5px solid salmon;  
}
 ul li .delete{
background-color: black;
color: white;
border: none;
border-radius: 5px;  
padding: 10px;
cursor: pointer;
 

}
@media(max-width:768px){
    .container{
        width:100%;
        
        min-width: auto;
        
    }
}